main{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 2vh;
}

main > * {
    width: 100%;
    text-align: center;
}

.questions {
    width: 50%;
}

.question{
    margin-top: 2em;
}

#valid {
    margin-top: 2em;
    width: 10%;
}