<main>
    <div class="container">
        <app-card-panier *ngFor="let computer of cart.get()" [cardComputer]="computer.computer" [quantity]="computer.quantity"></app-card-panier>
    </div>
    <div class="recap">
        <span></span>
        <div class="price" *ngIf="cart.getTotalPrice() > 0" >
            Prix à payer {{cart.getTotalPrice()}} €
        </div>
        <button [attr.disabled]="cart.get().length === 0 ? true : null">
            <a [routerLink]="cart.get().length !== 0 ? ['/home'] : null">Payer</a> 
        </button>
    </div>
</main>