<div class="container">
    <div class="wrapper">
        <input type="text" required>
        <label for="Nom">Nom</label>
    </div>
    <div class="wrapper">
        <input type="text" required>
        <label for="Prenom">Prenom</label>
    </div>
    <div class="wrapper">
        <input type="text" required>
        <label for="E-Mail">E-Mail</label>
    </div>
    <div class="wrapper">
        <input type="text" required>
        <label for="Sujet">Sujet</label>
    </div>
    <div class="wrapper" id="contenu">
        <input type="text" required id="inputContenu">
        <label for="Contenu">Contenu</label>
    </div>
    <button>
        <a href="./home">Envoyer</a>
    </button>
</div>